body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(-70deg, rgb(95, 192, 209) 40%, rgba(124, 106, 202, 0.22) 65%);
}

#aboutus h2{
	font-family: Engravers MT;
	margin-bottom: 0px;
}

#aboutus p{
	font-family: Constantia;
}

.img-wrap{
	margin-left: 145px;
	width: 80%;
}

.img-wrap img{
		width: 100%;
		padding: 10px;
		border-radius: 50%;
		box-shadow: 0 0 10px #999999;
}
